<p>employee-list works!</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <td>Salary</td>
        <td>Email</td>
        <td>Start_Date</td>
    </tr>
</table>
<table class="table" *ngFor="let emp of employee">
    <!-- <div *ngFor="let emp of employee"> -->
    <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.employeeName}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.localDateTime}}</td>
    </tr>
    <!-- </div> -->
</table>
<!-- <div *ngFor="let emp of employee">
    <ul>
        <li>{{emp.id}}</li>
        <li>{{emp.employeeName}}</li>
        <li>{{emp.email}}</li>
        <li>{{emp.salary}}</li>
        <li>{{emp.localDateTime}}</li>
    </ul>
</div> -->